.dashboard {
    display: flex;
    flex-direction: column;
}

/* Navbar styles */
.navbar {
    background-color: #DFF0D8;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    position: fixed;
    /* Fixes the navbar to the top */
    top: 0;
    /* Ensures the navbar stays at the top */
    left: 0;
    width: 100%;
    /* Stretches the navbar across the screen */
    z-index: 1000;
    /* Keeps the navbar above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow */
}

/* Adjust bottom margin/padding */
.navbar .menu-list-container,
.navbar .right-section,
.navbar .logo-container {
    margin: 0;
    /* Removes extra margins */
    padding: 0;
    /* Removes extra paddings */
}

/* Menu List Container */
.menu-list-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Menu List (formerly sidebar) */
.menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu-list li {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.menu-list li:hover {
    color: green;
}

/* Link styles */
.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: green;
}

/* Right section */
.right-section {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Other styles */
.logo-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #DFF0D8;
}

.Logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.notification-container {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    justify-content: space-between;
}
/* Dashboard.css */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-template-rows: repeat(2, auto);
    /* Two rows with automatic height */
    gap: 20px;
    /* Space between the boxes */
    padding: 20px;
    /* Padding around the grid */
}

.box {
    background-color: white;
    /* Light gray background */
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    /* Rounded corners */
    padding: 20px;
    /* Padding inside boxes */
    display: flex;
    /* Flexbox for content alignment */
    flex-direction: column;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
}

.box h2 {
    margin: 0;
    /* Remove default margin */
}